In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
from scipy import stats
import tensorflow as tf
from sklearn.metrics import confusion_matrix
import seaborn as sns
from pylab import rcParams
from sklearn.model_selection import train_test_split
from keras.models import Model, load_model
from keras.layers import Input, Dense
from keras.callbacks import ModelCheckpoint, TensorBoard
from keras import regularizers

%matplotlib inline

sns.set(style='whitegrid', palette='muted', font_scale=1.5)

rcParams['figure.figsize'] = 20, 10

RANDOM_SEED = 42
LABELS = ["1", "2", "3", "4", "5"]

Using TensorFlow backend.

In [2]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

NameError: name 'X' is not defined

In [2]:
X_train

NameError: name 'X_train' is not defined

In [2]:
df = pd.read_csv(r"E:\backup\nikokhtek3.csv")

In [3]:
df.head()

,target,1,2,3,4,5,6,7,8,9,...,60.4,61.4,62.4,63.4,64.4,65.4,66.4,67.4,68.4,69.4
0,0.0,1077.8,1077.5,1076.7,1076.2,1075.8,1075.5,1075.2,1075.0,1075.0,...,15.377379,12.495631,9.184745,11.933752,9.542492,-7.658102,-59.451267,0.204724,11.614107,14.399983
1,1.0,1076.9,1076.9,1076.9,1076.8,1076.7,1076.5,1076.3,1076.3,1076.2,...,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,14.900000,14.900000,14.900000,14.700000
2,1.0,1077.5,1077.5,1077.4,1077.4,1077.4,1077.2,1076.9,1076.8,1076.8,...,14.600000,14.600000,14.500000,14.500000,14.500000,14.500000,14.400000,14.500000,14.300000,14.700035
3,1.0,1077.5,1077.5,1077.5,1077.3,1077.1,1076.9,1076.9,1076.9,1076.9,...,15.300000,15.200000,15.135197,14.943659,14.461723,14.888724,14.780562,14.939281,15.012195,14.400058
4,1.0,1077.7,1077.7,1077.6,1077.6,1077.6,1077.5,1077.3,1077.1,1077.0,...,14.700000,14.600000,14.600000,14.600000,10.303828,16.559234,18.829963,26.377558,21.897205,14.700133

In [4]:
y = df.target

In [5]:
X = df.drop(['target'],axis=1)

In [6]:
X.head()

,1,2,3,4,5,6,7,8,9,10,...,60.4,61.4,62.4,63.4,64.4,65.4,66.4,67.4,68.4,69.4
0,1077.8,1077.5,1076.7,1076.2,1075.8,1075.5,1075.2,1075.0,1075.0,1067.8,...,15.377379,12.495631,9.184745,11.933752,9.542492,-7.658102,-59.451267,0.204724,11.614107,14.399983
1,1076.9,1076.9,1076.9,1076.8,1076.7,1076.5,1076.3,1076.3,1076.2,1076.2,...,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,14.900000,14.900000,14.900000,14.700000
2,1077.5,1077.5,1077.4,1077.4,1077.4,1077.2,1076.9,1076.8,1076.8,1076.7,...,14.600000,14.600000,14.500000,14.500000,14.500000,14.500000,14.400000,14.500000,14.300000,14.700035
3,1077.5,1077.5,1077.5,1077.3,1077.1,1076.9,1076.9,1076.9,1076.9,1076.9,...,15.300000,15.200000,15.135197,14.943659,14.461723,14.888724,14.780562,14.939281,15.012195,14.400058
4,1077.7,1077.7,1077.6,1077.6,1077.6,1077.5,1077.3,1077.1,1077.0,1077.0,...,14.700000,14.600000,14.600000,14.600000,10.303828,16.559234,18.829963,26.377558,21.897205,14.700133

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.2, random_state=42)

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
clf = DecisionTreeClassifier(criterion='entropy', random_state=42)

In [23]:
model = clf.fit(X_train,y_train)

In [24]:
predict = model.predict(X_test)

In [25]:
from sklearn.metrics import classification_report 
#print(classification_report(y_test, predict))
report = classification_report(y_test, predict, output_dict=True)

In [26]:
df = pd.DataFrame(report).transpose()

In [27]:
df

              f1-score  precision    recall     support
0.0           0.976127   0.978723  0.973545  378.000000
1.0           0.181818   0.166667  0.200000   10.000000
accuracy      0.953608   0.953608  0.953608    0.953608
macro avg     0.578973   0.572695  0.586772  388.000000
weighted avg  0.955655   0.957794  0.953608  388.000000

In [15]:
 from sklearn.metrics import accuracy_score
accuracy_score(y_test,predict)

0.9536082474226805